<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.Description}}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end}}</title>
<meta name="description" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{if .Param "description"}}{{ .Param "description" }}{{else}}{{ .Summary }}{{end}}{{ end }}"/>
<base href="{{ .Site.BaseURL }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
{{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>
<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}"/>
{{ end }}
<meta name="robots" content="all,follow"/>
<meta name="googlebot" content="index,follow,snippet,archive"/>
<link rel="canonical" href="{{ .Permalink }}" />
<meta property="og:locale" content="{{ .Site.Params.languageCode }}" />
{{ if .IsHome }}<meta property="og:type" content="blog" />{{ else }}<meta property="og:type" content="article" />{{end}}
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.Description}}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end}}" />
<meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description}}{{ else }}{{if .Param "description"}}{{ .Param "description" }}{{else}}{{ .Summary }}{{end}}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Params.SiteName }}" />
<meta property="og:image" content="{{ with .Params.ImagePost  }}{{ . }}{{ else }}https://scontent.fpoa2-1.fna.fbcdn.net/v/t1.0-9/10259788_793549110664581_7463998053528546478_n.jpg?oh=9ae2c93fa0b4974a44465491aaf6cf7c&oe=5AC57BC0{{ end }}"/>
{{ if .IsHome }} {{ else}}<meta property="article:author" content="{{ .Params.AuthorFacebook }}"/>{{ end}}
{{ if isset .Params "tags" }}<meta property="article:tag" content="{{ delimit .Params.tags ", "}}">{{ end }}
<meta property="fb:admins" content="#"/>
<meta property="fb:app_id" content="#"/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{if .Param "description"}}{{ .Param "description" }}{{else}}{{ .Summary }}{{end}}{{ end }}" />
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.SiteName}}{{ else }}{{ .Title }} - {{ .Site.Params.SiteName }}{{ end}}" />
<meta name="twitter:site" content="{{ .Site.Params.Twitter }}" />
<meta name="twitter:image" content="{{ with .Params.ImagePost }}{{ . }}{{ else }}https://scontent.fpoa2-1.fna.fbcdn.net/v/t1.0-9/10259788_793549110664581_7463998053528546478_n.jpg?oh=9ae2c93fa0b4974a44465491aaf6cf7c&oe=5AC57BC0{{ end }}"/>

<!-- viewport meta to reset iPhone inital scale -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<link rel="stylesheet" href="{{ .Site.BaseURL }}/dist/style.css" />


</head>
<body>
<div id="pagewrap">

	<div id="header">

		<div id="menu">
			<ul>
				{{ range .Site.Menus.main }}
				<li><a href="{{ .URL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</div>

		<p class="logo"><a href="{{ .Site.BaseURL }}" title="{{ .Title }} - {{ .Site.Params.Description }}"><img src="{{ .Site.BaseURL }}/dist/images/logo-ubuntero.png" alt="{{ .Title }}" /></a><span>{{ .Site.Params.Description }}</span></p>


	</div>
