<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xmlns:x2="http://www.w3.org/2002/06/xhtml2" xmlns:fb="http://ogp.me/ns/fb#">
<head profile="http://gmpg.org/xfn/11" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta http-equiv="content-type" content="#; charset=#" />
<meta http-equiv="content-language" content="#" />
<title>{{ .Title }}</title>
<meta name="description" content="#"/>

<!-- viewport meta to reset iPhone inital scale -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<link rel="stylesheet" href="{{ .Site.BaseURL }}/dist/style.css" />
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} - {{ .Site.Params.Description }} - RSS" href="#" />
<link rel="alternate" type="application/atom+xml" title="{{ .Site.Title }} - {{ .Site.Params.Description }} - Atom" href="#" />
<link rel="pingback" href="#" />


</head>
<body>
<div id="pagewrap">

	<div id="header">

		<div id="menu">
			<ul>
				<li><a href="{{ .Site.BaseURL }}">Home</a></li>
                <li><a href="{{ .Site.BaseURL }}/downloads">Downloads</a></li>
                <li><a href="{{ .Site.BaseURL }}/ajude">Quer ajudar?</a></li>
                <li><a href="{{ .Site.BaseURL }}/sobre-mim">Sobre o Ubuntero</a></li>
                <li><a href="{{ .Site.BaseURL }}/store">Store</a></li>
			</ul>
		</div>

		<p class="logo"><a href="{{ .Site.BaseURL }}" title="{{ .Title }} - {{ .Site.Params.Description }}"><img src="{{ .Site.BaseURL }}/dist/images/logo-ubuntero.png" alt="{{ .Title }}" /></a><span>{{ .Site.Params.Description }}</span></p>


	</div>