<div id="sidebar">

	<div id="social" class="group">
		<div id="social-rss" class="social-box float-left social-box-margin">
			<p><a class="sprite trans" href="{{ .Site.Params.Feed }}" title="Assinar Feed RSS"></a></p>
		</div>
		<div id="social-twitter" class="social-box float-left social-box-margin">
			<p><a class="sprite trans" href="http://twitter.com/Ubunterobr" target="_blank" rel="nofollow"></a></p>
		</div>
		<div id="social-facebook" class="social-box float-left social-box-margin">
			<p><a class="sprite trans" href="https://www.facebook.com/Ubunterobr" target="_blank" rel="nofollow"></a></p>
		</div>
		<div id="social-gplus" class="social-box float-left social-box-margin">
			<p><a class="sprite trans" href="https://plus.google.com/116904557812459236393" target="_blank" rel="publisher"></a></p>
		</div>
		<div id="social-youtube" class="social-box float-left social-box-last">
			<p><a class="sprite trans" href="http://www.youtube.com/user/ubunterobr" target="_blank" rel="nofollow"></a></p>
		</div>
	</div>

	<div class="side-box">
		<h3>Busca</h3>
		<form method="get" id="site-searchform" class="searchform" action="http://www.google.com/search" accept-charset="UTF-8" role="search">
			<input type="search" name="q" autocomplete="on" placeholder="Pesquisar&hellip;" style="width:100%">
			<input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}">
		</form>
	</div>

	<div class="adssidebar">
		<!-- LOMADEE - BEGIN -->
			<script type="text/javascript" language="javascript">
				lmd_source="26153641";
				lmd_si="33338950";
				lmd_pu="22227150";
				lmd_c="BR";
				lmd_wi="300";
				lmd_he="250";
			</script>
			<script src="http://image.lomadee.com/js/ad_lomadee.js" type="text/javascript" language="javascript"></script>
		<!-- LOMADEE - END -->
	</div>

	<div class="side-box">
		<h3>Últimas novidades</h3>
		<ul>
			{{ range first 6 (where .Site.Pages "Type" "post") }}
			<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
			{{ end }}
		</ul>
	</div>

	<div class="side-box">
		<h3>Opencast</h3>
		<form action="" class="side-archives">
			<label>
			<select onchange="document.location.href=this.options[this.selectedIndex].value;">
				<option value="" style="font-weight:bold;">Selecione o episódio</option>

				<option value="https://tecnologiaaberta.com.br" title="{{ .Title }}">Tecnologia Aberta</option>

			</select>
			</label>
		</form>
	</div>

	<div class="side-box">
		<h3>Ubuntero no Facebook</h3>
		<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FUbunterobr%2F&amp;width=300&amp;height=340&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23FFFFFF&amp;stream=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:340px;" allowTransparency="true"></iframe>
	</div>

	<div class="adssidebar">
		<!-- LOMADEE - BEGIN -->
			<script type="text/javascript" language="javascript">
				lmd_source="26153678";
				lmd_si="33338950";
				lmd_pu="22227150";
				lmd_c="BR";
				lmd_wi="300";
				lmd_he="250";
			</script>
			<script src="http://image.lomadee.com/js/ad_lomadee.js" type="text/javascript" language="javascript"></script>
		<!-- LOMADEE - END -->
	</div>

	<div class="side-box">
		<h3>Circule o Ubuntero no Google+</h3>
		<!-- Place this tag where you want the badge to render. -->
		<div class="g-plus" data-href="//plus.google.com/116904557812459236393" data-rel="publisher"></div>
		<!--<div class='g-plus' data-href='//plus.google.com/111568874553668418614' data-rel='author'></div>-->
		<!-- Place this tag after the last badge tag. -->
		<script type="text/javascript">
		window.___gcfg = {lang: 'pt-BR'};
		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
		</script>
	</div>

	<div class="side-box">
		<h3>Arquivos</h3>
		<form action="" class="side-archives">
			<label>
			<select onchange="document.location.href=this.options[this.selectedIndex].value;">
				<option value="" style="font-weight:bold;">Selecione a categoria</option>
				{{ with .Params.Categories }}
				{{ range .}}
				<option value="/categories/{{ . | urlize }}">{{ . }}</option>
				{{ end }}
				{{ else }}
				{{ range last 10 (where .Site.Pages "Type" "post") }}
				<option value="{{ .Permalink }}">{{ .Title }}</option>
				{{ end }}
				{{ end }}
			</select>
			</label>
		</form>
	</div>

	<div class="side-box">
		<h3>Youtube UbunteroBR</h3>
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/d4vhzJnGZ4A" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
		<ul>
			<li><a href="http://www.youtube.com/user/ubunterobr" title="Canal do Ubuntero no Youtube" target="_blank">Canal do Ubuntero no Youtube</a></li>
		</ul>
	</div>

	<div class="side-box">
		<h3>Divulgue nosso Banner</h3>
		<p style="text-align:center; padding-bottom:10px;"><img class="banner-blog" src="{{ .Site.BaseURL}}{{ .Site.Params.ImageUbuntero }}" alt="ferramentas blog banner" /><br />
<textarea style="width:240px" name="textarea" onmouseover="this.focus()" onfocus="this.select()" rows="3" cols="15">&lt;a href="http://www.ubuntero.com.br/"&gt;
&lt;img border="0" style="border:1px solid #CCC;" src="{{ .Site.BaseURL}}{{ .Site.Params.ImageUbuntero }}" title="Ubuntero - Dicas e tutorias sobre Ubuntu" alt="Ubuntero.com.br" /&gt;&lt;/a&gt;</textarea>
		</p>
	</div>

	<div class="side-box links">
		<h3>Links</h3>
		{{ with .Site.Params.Links }}
		<ul>
			{{ range .}}
			<li><a href="{{ . }}"> {{ . }}</a></li>
			{{ end }}
		</ul>
		{{ end }}
	</div>

	<div class="adssidebar">
		<!-- LOMADEE - BEGIN -->
			<script type="text/javascript" language="javascript">
				lmd_source="26153688";
				lmd_si="33338950";
				lmd_pu="22227150";
				lmd_c="BR";
				lmd_wi="300";
				lmd_he="250";
			</script>
			<script src="http://image.lomadee.com/js/ad_lomadee.js" type="text/javascript" language="javascript"></script>
		<!-- LOMADEE - END -->
	</div>

</div>
